.footer { 
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1)

}

.footer__container {
    padding: 2rem 0 4rem;
}

.footer__title,
.footer__link {
    color: #080706;
}

.footer__title {
    text-align: center;
    margin-bottom: 2rem;
}

.footer__link:hover {
    color: black;
}

.footer__list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer__social-link {
    background-color: #080706;
    color: #fff;
    font-size: 1.125rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    display: inline-flex;
}

.footer__social-link:hover {
    background-color: #4f4a45;
}

.footer__copy {
    display: block;
    margin-top: 3rem;
    color: #4f4a45;
    text-align: center;
    font-size: 0.813rem;
}

@media screen and (max-width: 992px) {
    .footer__social-link {
        padding: 0.25rem;
        border-radius: 0.25rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        display: none;
    }
}