
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body, button, input, textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 400 ;
}

body {
  background-color: hsl(0, 0%, 98%);
  color: #cdab81;
  min-height: 100vh;
  
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main {
  flex-grow: 1;
  padding-bottom: 3rem;
}

h1, h2, h3 {
  color: #4f4a45;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-height: 100%;
  height: auto;
}

.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: 2.25rem;
  color: #4f4a45;
}

.section__subtitle {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 4rem; 
}

.section__title,
.section__subtitle {
  text-align: center;
}

.container {
  max-width: 968px ;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* BUTTON */
.button {
  display: inline-block;
  background-color: #6c5f5b;
  color: #fff;
  padding: 1.25rem 2rem;
  border: 1rem;
  border-radius: 25px;
  font-weight: 500;
}

.button:hover {
  background-color: #4f4a45;
}

.button__icon {
  margin-left: 0.5rem;
}

.button__flex {
  display: inline-flex;
  align-items: center;
}


@media screen and (max-width: 992px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  .button {
    padding: 1rem 1.75rem;
  }

  .button__icon{
    width: 22px;
    height: 22px;
  }
} 


@media screen and (max-width: 768px) {
  body {
    margin: 0 0 3rem 0;
  }

  .section {
    padding: 2rem 0 4rem;
  }

  .section__subtitle {
    margin-bottom: 3rem;
  }

} 


@media screen and (max-width: 350px) {
  :root {
    font-size: 2.25rem;
  }

  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
    
}




